.latest-text-block {
    padding-left: 20px;
}

.latest-news {
    background-color: rgb(11, 11, 15);
    padding: 40px 20px 150px 20px;
}

.latest-block  {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
    border: 1px solid rgb(39, 39, 39);
    img {
        height: 430px;
        display: inline-block;
        width: 100%;
        @media (max-width: 767px) {
            height: unset;
        }
    }
    
}