.swiper-wrapper {
    padding: 0 30px 60px 20px;
}

.swiper-container {
    padding: 0 40px 0 0 !important;
    @media (max-width: 1200px) {
        padding: 0 60px 0 0 !important;
    }
    @media (max-width: 767px) {
        padding: 0 40px 0 0!important;
    }
}

.swiper-pagination {
    position: unset !important;
}

.testimonial-wrapper {
    border: 1px solid rgb(39, 39, 39);
    padding: 30px;
    text-align: center;
    background-color: rgb(11, 11, 15);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.swiper-pagination-bullet {
    background-color: aqua;
    }

    .testi-header {
        font-size: 18px;
        font-weight: 600;
        color: white;
    } 
    
    .testi-text {
        font-size: 13px;
        color: white;
    }

    .pagi-text {
        text-align: center;
        margin-top: 50px;
    }

    .rounded-img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: -30px;
    }
    
    .testimonial-name-text {
        display: block;
    }

    .testimonial {
        padding-bottom: 60px;
    }

    .company-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }