.fa-search {
    color: aqua;
}



.fa-telegram-plane,
.fa-brain,
.fa-lightbulb,
.fa-chart-area
{
    color: aqua;
    margin: 0;
}

.fas {
    color: aqua;
    margin: 0;
}

.fa-star {
    margin-right: 5px;
}

.footer-icon {
    color: aqua;
    margin-right: 15px;
}

.cta-icons {
    display: flex;
    justify-content: center;
}

.cta-icon {
    color: aqua;
    margin: 0 5px;
    border: 1px solid aqua;
    border-radius: 50%;
    padding: 10px;
}

.comp-logo {
    color: white;
    margin: 0 35px 0 35px;
}